<!DOCTYPE html>
<html>
  <head>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">

  {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title> No title specified</title>
      {% endif %}

  </head>
  <body>

    <div class="ui three item menu">
      <a class="item" href="{{ url_for('index') }}">View All Tasks</a>
      <a class="item" href="{{ url_for('completed') }}">View Completed Tasks</a>
      <a class="item" href="{{ url_for('create') }}">Create Task</a>
    </div>

    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>