{% extends "base.html" %}
{% block content %}

<div class="ui main text container">

  <h1 class="ui header">VIEW COMPLETED TASKS</h1>

    {% for id, task in tasks.items(): %}
    {% if task[1]: %}

    <table class="ui table">
      
      <thead>
        <tr>
          <th>Task</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{ task[0] }}</td>
        </tr>
      </tbody>

    </table>

    {% endif %}
    {% endfor %}


</div>

{% endblock %}