{% extends "base.html" %}
{% block content %}

<div class="ui main text container">

  <h1 class="ui header">CREATE TASK</h1>

  <form class="ui form" action="" method="post" name="newtask">
    {{ form.hidden_tag() }}
    <p>
       {{ form.task }}<br>
    </p>
    <p><button class="ui button" type="submit">Submit</button></p>
</form>

</div>

{% endblock %}