{% extends "base.html" %}
{% block content %}

<div class="ui main text container">

  <h1 class="ui header">VIEW ALL TASKS</h1>

    {% for id, task in tasks.items(): %}

    <table class="ui table">
      
      <thead>
        <tr>
          <th class="twelve wide">Task</th>
          <th class="four wide">Completed</th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <td>{{ task[0] }}</td>
          {% if task[1]: %}
            <td>
              <button class="positive ui button">Yes</button>
            </td>
          {% else: %}
            <td>
              <button class="negative ui button" onclick="window.location='{{url_for('completeTask', task_id=id )}}';">No</button>
            </td>
          {% endif %}
        </tr>
      </tbody>

    </table>

    {% endfor %}


</div>

{% endblock %}